<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hotel Booking System</title>

    <link rel="stylesheet" href="../css/hotel.css">
</head>

<body>

    <h1>Hotel Booking System</h1>

    <div class="search-section">

        <input
            type="text"
            id="searchInput"
            placeholder="Search hotels..."
        >

        <select id="locationFilter">
            <option value="">All Locations</option>
        </select>

    </div>

    <div id="hotelContainer"></div>
    <script type="module" src="../js/hotel.js"></script>

</body>
</html>